[submodule "containers"]
	path = containers
	url = https://github.com/ReproNim/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = "https://github.com/ReproNim/containers"
[submodule "sourcedata/floc"]
	path = sourcedata/floc
	url = https://github.com/courtois-neuromod/floc
	datalad-id = a1aba9da-6122-4824-948f-241b0a1f4886
	datalad-url = "https://github.com/courtois-neuromod/floc"
